{% extends 'layout.html' %}

{% block head %}
    <title> Home Page </title>

{% endblock %}


{% block body %} 
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/EEUM_logo.png" alt="" width="160" height="145">
    <h1 class="display-5 fw-bold">Base de Dados de Conceitos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Esta aplicação WEB foi desenvolvida no âmbito da unidade curricular PLNEB.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/conceitos" class="btn btn-primary btn-lg px-4 gap-3">Conceitos</a>
        <a href="/pesquisar" class="btn btn-primary btn-lg px-4 gap-3">Pesquisar</a>
      </div>
    </div>
  </div>

{% endblock %}